### Read Brands

In [75]:
import pandas as pd
import json
from pandas import json_normalize

with open('brands.json', 'r') as file:
    json_data = file.readlines()

parsed_data = [json.loads(line) for line in json_data]

df = json_normalize(parsed_data)

df.head()

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   barcode       1167 non-null   object
 1   category      1012 non-null   object
 2   categoryCode  517 non-null    object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    object
 5   _id.$oid      1167 non-null   object
 6   cpg.$id.$oid  1167 non-null   object
 7   cpg.$ref      1167 non-null   object
 8   brandCode     933 non-null    object
dtypes: object(9)
memory usage: 82.2+ KB

### Nulls percentage

In [77]:
import pandas as pd

null_counts = df.isnull().sum()
total_rows = len(df)
null_percentages = round((null_counts / total_rows) * 100,2)

print("Null Counts:")
print(null_counts)
print("\nNull Percentages:")
print(null_percentages)

Null Counts:
barcode           0
category        155
categoryCode    650
name              0
topBrand        612
_id.$oid          0
cpg.$id.$oid      0
cpg.$ref          0
brandCode       234
dtype: int64

Null Percentages:
barcode          0.00
category        13.28
categoryCode    55.70
name             0.00
topBrand        52.44
_id.$oid         0.00
cpg.$id.$oid     0.00
cpg.$ref         0.00
brandCode       20.05
dtype: float64

### Duplicate verification based on uuid

In [78]:
duplicate_count = df.duplicated(subset=['_id.$oid']).sum()

print(duplicate_count)

0

In [42]:
df.tail(10)

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
1157,511111303015,NaN,NaN,DASANI,NaN,5332fa75e4b03c9a25efd221,5332f5ebe4b03c9a25efd0a8,Cpgs,NaN
1158,511111716648,Baking,BAKING,test brand @1600291349042,NaN,5f628215be37ce78e6e2efab,5f628214be37ce78e6e2efaa,Cogs,TEST BRANDCODE @1600291349043
1159,511111501619,Beverages,NaN,Pepsi Max,False,585a96cbe4b03e62d1ce0e88,5332f5fbe4b03c9a25efd0ba,Cogs,
1160,511111401155,Deli,NaN,Claussen,False,5887a216e4b02187f85cdad5,559c2234e4b06aca36af13c6,Cogs,CLAUSSEN
1161,511111403845,Beer Wine Spirits,NaN,Blue Moon,False,5332f709e4b03c9a25efd0f2,5332f709e4b03c9a25efd0f1,Cogs,BLUE MOON
1162,511111116752,Baking,BAKING,test brand @1601644365844,NaN,5f77274dbe37ce6b592e90c0,5f77274dbe37ce6b592e90bf,Cogs,NaN
1163,511111706328,Breakfast & Cereal,NaN,Dippin Dots® Cereal,NaN,5dc1fca91dda2c0ad7da64ae,53e10d6368abd3c7065097cc,Cogs,DIPPIN DOTS CEREAL
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,5f494c6e04db711dd8fe87e7,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1598639215217
1165,511111400608,Grocery,NaN,LIPTON TEA Leaves,False,5a021611e4b00efe02b02a57,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves
1166,511111019930,Baking,BAKING,test brand @1613158231643,False,6026d757be37ce6369301468,6026d757be37ce6369301467,Cogs,TEST BRANDCODE @1613158231644

### Replacing Blanks with None for consistency

In [82]:
import numpy as np
df = df.replace({np.NaN: None})

for col in df.columns:
    df[col] = df[col].replace('', np.nan)

In [81]:
len(df[df['brandCode'].str.strip() == ""])

0

In [67]:
df

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,None
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,511111116752,Baking,BAKING,test brand @1601644365844,None,5f77274dbe37ce6b592e90c0,5f77274dbe37ce6b592e90bf,Cogs,None
1163,511111706328,Breakfast & Cereal,None,Dippin Dots® Cereal,None,5dc1fca91dda2c0ad7da64ae,53e10d6368abd3c7065097cc,Cogs,DIPPIN DOTS CEREAL
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,None,5f494c6e04db711dd8fe87e7,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1598639215217
1165,511111400608,Grocery,None,LIPTON TEA Leaves,False,5a021611e4b00efe02b02a57,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves
1166,511111019930,Baking,BAKING,test brand @1613158231643,False,6026d757be37ce6369301468,6026d757be37ce6369301467,Cogs,TEST BRANDCODE @1613158231644

### Renaming columns and sequencing

In [68]:
column_mapping = {
    '_id.$oid': 'brand_uuid',
    'cpg.$id.$oid': 'cpg_id',
    'cpg.$ref': 'cpg_ref',
}

df_mapped = df.rename(columns=column_mapping)

columns_sequence = ['brand_uuid', 'barcode', 'brandCode', 'category', 'categoryCode', 'cpg_id', 'cpg_ref', 'topBrand', 'name']
df_mapped_reordered = df_mapped[columns_sequence]

df_mapped_reordered.tail(10)

,brand_uuid,barcode,brandCode,category,categoryCode,cpg_id,cpg_ref,topBrand,name
1157,5332fa75e4b03c9a25efd221,511111303015,None,None,None,5332f5ebe4b03c9a25efd0a8,Cpgs,None,DASANI
1158,5f628215be37ce78e6e2efab,511111716648,TEST BRANDCODE @1600291349043,Baking,BAKING,5f628214be37ce78e6e2efaa,Cogs,None,test brand @1600291349042
1159,585a96cbe4b03e62d1ce0e88,511111501619,None,Beverages,None,5332f5fbe4b03c9a25efd0ba,Cogs,False,Pepsi Max
1160,5887a216e4b02187f85cdad5,511111401155,CLAUSSEN,Deli,None,559c2234e4b06aca36af13c6,Cogs,False,Claussen
1161,5332f709e4b03c9a25efd0f2,511111403845,BLUE MOON,Beer Wine Spirits,None,5332f709e4b03c9a25efd0f1,Cogs,False,Blue Moon
1162,5f77274dbe37ce6b592e90c0,511111116752,None,Baking,BAKING,5f77274dbe37ce6b592e90bf,Cogs,None,test brand @1601644365844
1163,5dc1fca91dda2c0ad7da64ae,511111706328,DIPPIN DOTS CEREAL,Breakfast & Cereal,None,53e10d6368abd3c7065097cc,Cogs,None,Dippin Dots® Cereal
1164,5f494c6e04db711dd8fe87e7,511111416173,TEST BRANDCODE @1598639215217,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,None,test brand @1598639215217
1165,5a021611e4b00efe02b02a57,511111400608,LIPTON TEA Leaves,Grocery,None,5332f5f6e4b03c9a25efd0b4,Cogs,False,LIPTON TEA Leaves
1166,6026d757be37ce6369301468,511111019930,TEST BRANDCODE @1613158231644,Baking,BAKING,6026d757be37ce6369301467,Cogs,False,test brand @1613158231643

In [69]:
df_mapped_reordered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_uuid    1167 non-null   object
 1   barcode       1167 non-null   object
 2   brandCode     898 non-null    object
 3   category      1012 non-null   object
 4   categoryCode  517 non-null    object
 5   cpg_id        1167 non-null   object
 6   cpg_ref       1167 non-null   object
 7   topBrand      555 non-null    object
 8   name          1167 non-null   object
dtypes: object(9)
memory usage: 82.2+ KB

In [70]:
print(df_mapped_reordered['topBrand'].unique())

[False None True]

In [71]:
print(df_mapped_reordered['category'].unique())

['Baking' 'Beverages' 'Candy & Sweets' 'Condiments & Sauces'
 'Canned Goods & Soups' None 'Magazines' 'Breakfast & Cereal'
 'Beer Wine Spirits' 'Health & Wellness' 'Beauty' 'Baby' 'Frozen'
 'Grocery' 'Snacks' 'Household' 'Personal Care' 'Dairy'
 'Cleaning & Home Improvement' 'Deli' 'Beauty & Personal Care'
 'Bread & Bakery' 'Outdoor' 'Dairy & Refrigerated']

### Connect to database and create table

In [74]:
import psycopg2
from sqlalchemy import create_engine, Boolean, VARCHAR, TIMESTAMP, BIGINT

db_config = {
    'user': 'postgres',
    'password': '9901',
    'host': 'localhost',
    'port': '5433',
    'database': 'postgres'
}

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**db_config))

dtype_mapping = {

    'brand_uuid': VARCHAR(350),
    'barcode': VARCHAR(30),
    'brandCode': VARCHAR(500),
    'category': VARCHAR(500),
    'categoryCode': VARCHAR(350),
    'cpg_id': VARCHAR(350),
    'cpg_ref': VARCHAR(100),
    'topBrand': Boolean,
    'name': VARCHAR(350)
}

df_mapped_reordered.to_sql('brand', engine, if_exists='append', index=False, dtype=dtype_mapping)

conn.commit()
conn.close()